---
const year = new Date().getFullYear();
---

<footer class="site-footer">
  <span>&copy; {year} Valleys at Ashebrook HOA &middot; Raleigh, NC</span>
  <a class="site-footer__domain" href="/">valleys-ashebrook.web.app</a>
</footer>
