---
import { displayName, DISCLAIMER_SHORT } from '../lib/site';

const year = new Date().getFullYear();
const { site } = Astro.locals;
const name = displayName(site);
---

<footer class="site-footer">
  <span>&copy; {year} {name} &middot; Raleigh, NC</span>
  {
    !site.officialMode && (
      <span class="site-footer__disclaimer">
        {DISCLAIMER_SHORT} <a href="/about">About this site</a>
      </span>
    )
  }
  <a class="site-footer__domain" href="/">ashebrookresidents.com</a>
</footer>
